<!DOCTYPE html>
<html lang="ru">
<head>
  <%- include('./partials/head'); %>
</head>
<body>
  <%- include('./partials/header'); %>  
  
  <%if (Name) { %>
    <%- include('./partials/menuWith-back'); %>
  <% } else { %> 
    <%- include('./partials/menuWithout'); %>
  <% } %>
  

  <section class="catalog">
    <div class="container">
      <form action="/catalog/search" method="GET" class="form ajax-contact-form"> 
        <input type="search" class="form-search inp" placeholder="Поиск">
        <img src="/img/catalog/search.png" alt="search" class="form__search-img">
        <div class="btn__area submit">
          <button class="btn"><span>Найти</span></button>
        </div>
      </form>

      <div class="catalog__inner">
        <aside class="catalog__filter">
          <aside class="catalog__filter-open__btn js-filter-open"></aside>
          <form action="/catalog/filter" method="post" class="form ajax-contact-form filter-form">

            <div class="filter-money">
              <h4 class="filter-title">Цена</h4>
              <div class="filter-money__item">
                <span class="filter-money__text">от</span>
                <input type="text" class="filter-money__start" value="1000" name="from">
                <span class="filter-money__text">Р</span>
              </div>
              <div class="filter-money__item">
                <span class="filter-money__text">до</span>
                <input type="text" class="filter-money__start" value="100000" name="to">
                <span class="filter-money__text">Р</span>
              </div>
            </div>
          
            <div class="btn__area submit">
              <button class="btn"><span>Применить фильтры</span></button>
            </div>

            
            <div class="filter-brand filter">
              <select name="select__brand" class="filter-brand__select select js-select js-filter-brand">
                <option disabled selected value="0">Марка</option>
                <option value="man">Man</option>
                <option value="scania">SCANIA</option>
                <option value="iveco">IVECO</option>
                <option value="mercedes">MERCEDES</option>
                <option value="kamaz">KAMAZ</option>
                <option value="daf">DAF</option>
                <option value="volvo">VOLVO</option>
                <option value="renault">renault</option>
              </select>
            </div>

            <div class="filter-model filter js-filter-model scania--filter">
              <select name="select__model" class="filter-model__select select js-select ">
                <option disabled selected value="0">Модель</option>
                <option value="p">P</option>
                <option value="t">T</option>
                <option value="g">G</option>
                <option value="r">R</option>
              </select>
            </div>

            <div class="filter-model filter js-filter-model renault--filter">
              <select name="select__model" class="filter-model__select select js-select ">
                <option disabled selected value="0">Модель</option>
                <option value="ares">ARES</option>
                <option value="manager">MANAGER</option>
                <option value="c">C</option>
                <option value="tracer">TRACER</option>
              </select>
            </div>

            <div class="filter-model filter js-filter-model mercedes--filter">
              <select name="select__model" class="filter-model__select select js-select ">
                <option disabled selected value="0">Модель</option>
                <option value="actros">ACTROS</option>
                <option value="antos">ANTOS</option>
                <option value="accelo">ACCELO</option>
                <option value="econic">ECONIC</option>
                <option value="lp">LP</option>
                <option value="o305">O 305</option>
              </select>
            </div>

            <div class="filter-model filter js-filter-model iveco--filter">
              <select name="select__model" class="filter-model__select select js-select ">
                <option disabled selected value="0">Модель</option>
                <option value="stralis">STRALIS</option>
                <option value="trakker">TRAKKER</option>
              </select>
            </div>

            <div class="filter-model filter js-filter-model man--filter">
              <select name="select__model" class="filter-model__select select js-select ">
                <option disabled selected value="0">Модель</option>
                <option value="tgs">TGS</option>
                <option value="d2066">TGX D2066</option>
                <option value="d2676">TGX D2676</option>
              </select>
            </div>

            <div class="filter-model filter js-filter-model daf--filter">
              <select name="select__model" class="filter-model__select select js-select ">
                <option disabled selected value="0">Модель</option>
                <option value="xf105">XF105</option>
              </select>
            </div>

            <div class="filter-model filter js-filter-model volvo--filter">
              <select name="select__model" class="filter-model__select select js-select ">
                <option disabled selected value="0">Модель</option>
                <option value="fh12">FH12</option>
                <option value="fe">FE</option>
                <option value="fm">FM</option>
                <option value="fh">FH</option>
              </select>
            </div>

            <div class="filter-model filter js-filter-model kamaz--filter">
              <select name="select__model" class="filter-model__select select js-select ">
                <option disabled selected value="0">Модель</option>
                <option value="43118">43118</option>
                <option value="43261">43261</option>
                <option value="43502">43502</option>
                <option value="65111">65111</option>
              </select>
            </div>

            <div class="filter-country filter">
              <select name="select__country" class="filter-country__select select js-select">
                <option disabled selected value="0">Страна</option>
                <option value="germany">Германия</option>
                <option value="italy">Италия</option>
                <option value="russia">Россия</option>
                <option value="spain">Испания</option>
                <option value="china">Китай</option>
                <option value="sweden">Швеция</option>
              </select>
            </div>
          </form>

        </aside>

        <div class="catalog__item">
          <div class="catalog__sort">
            <p class="catalog__sort-title">Сортировать:</p>
            <a href="#!" class="catalog__sort-link">сначало дешевые</a>
            <a href="#!" class="catalog__sort-link">сначало дорогие</a>
            <a href="#!" class="catalog__sort-link">по маркам</a>
          </div>

          <div class="catalog__body">
            <% for(var i=0; i < products.count; i++) { %>
              
              <div class="catalog__product" data-id="<%= products.code[i] %>">
                <div class="catalog__product-rate js-add-favorite" data-id="<%= products.code[i] %>" title="В избранное" ></div>
                <div class="catalog__product-img">
                  <img src='<%= products.img[i] %>' alt="product">
                </div>
                <h3 class="catalog__product-name"><%= products.name[i] %></h3>
                <div class="catalog__product-middle">
                  <p class="catalog__product-for">
                    Для
                    <span><%= products.brand[i] %></span>
                    <span><%= products.model[i] %></span>
                  </p>
                  <div class="catalog__product-country"><%= products.country[i] %></div>
                </div>
                <div class="catalog__product-under">
                  <p class="catalog__product-price"><%= products.price[i] %> руб</p>
                  <%if (Name) { %>
                    <a href="#!" class="catalog__product-btn js-product-btn" data-id="<%= products.code[i] %>">Купить</a>
                    <% } else { %> 
                    <a href="#!" data-modal="login" class="catalog__product-btn" data-id="<%= products.code[i] %>">Купить</a>
                  <% } %>
                </div>
              </div>

            <% } %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('./partials/footer'); %>
  <%- include('./partials/scripts'); %>
</body>
</html>