<!DOCTYPE html>
<html lang="ru">
<head>
  <%- include('./partials/head'); %>
</head>
<body>
  <%- include('./partials/header'); %>  
  <%- include('./partials/menuWith'); %>


  <%- include('./partials/footer'); %>
  <%- include('./partials/scripts'); %>
</body>
</html>