<!DOCTYPE html>
<html lang="ru">
<head>
  <%- include('./partials/head'); %>
</head>
<body>
  <%- include('./partials/header'); %>  
  
  <%if (Name) { %>
    <%- include('./partials/menuWith-back'); %>
  <% } else { %> 
    <%- include('./partials/menuWithout'); %>
  <% } %>
  
  <section class="catalog">
    <div class="container">
      <form action="/catalog/search" method="GET" class="form ajax-contact-form"> 
        <input type="search" class="form-search inp" placeholder="Поиск" name="search">
        <img src="/img/catalog/search.png" alt="search" class="form__search-img">
        <div class="btn__area submit">
          <button class="btn"><span>Найти</span></button>
        </div>
      </form>

      <div class="catalog__inner">
        <aside class="catalog__filter">
          <aside class="catalog__filter-open__btn js-filter-open"></aside>
          <form action="/catalog/filter" method="post" class="form ajax-contact-form filter-form">

            <div class="filter-money">
              <h4 class="filter-title">Цена</h4>
              <div class="filter-money__item">
                <span class="filter-money__text">от</span>
                <input type="text" class="filter-money__start" value="1000" name="from">
                <span class="filter-money__text">Р</span>
              </div>
              <div class="filter-money__item">
                <span class="filter-money__text">до</span>
                <input type="text" class="filter-money__start" value="100000" name="to">
                <span class="filter-money__text">Р</span>
              </div>
            </div>
          
            <div class="btn__area submit">
              <button class="btn"><span>Применить фильтры</span></button>
            </div>
            
            <div class="filter-brand filter">
              <select name="select__brand" class="filter-brand__select select js-select js-filter-brand">
                <option disabled selected value="0">Марка</option>
                <% for(var i=0; i < filters.brands.length; i++) { %>
                  <option value="<%= filters.brands[i] %>"><%= filters.brands[i] %></option>
                <% } %>
              </select>
            </div>

            <div class="filter-model filter js-filter-model scania--filter">
              <select name="select__model" class="filter-model__select select js-select ">
                <option disabled selected value="0">Модель</option>
                <% for(var i=0; i < filters.models[1].length; i++) { %>
                  <option value="<%= filters.models[1][i].model %>"><%= filters.models[1][i].model %></option>
                <% } %>
              </select>
            </div>

            <div class="filter-model filter js-filter-model iveco--filter">
              <select name="select__model" class="filter-model__select select js-select ">
                <option disabled selected value="0">Модель</option>
                <% for(var i=0; i < filters.models[3].length; i++) { %>
                  <option value="<%= filters.models[3][i].model %>"><%= filters.models[3][i].model %></option>
                <% } %>
              </select>
            </div>
          
            <div class="filter-model filter js-filter-model man--filter">
              <select name="select__model" class="filter-model__select select js-select ">
                <option disabled selected value="0">Модель</option>
                <% for(var i=0; i < filters.models[5].length; i++) { %>
                  <option value="<%= filters.models[5][i].model %>"><%= filters.models[5][i].model %></option>
                <% } %>
              </select>
            </div>
          
            <div class="filter-model filter js-filter-model daf--filter">
              <select name="select__model" class="filter-model__select select js-select ">
                <option disabled selected value="0">Модель</option>
                <% for(var i=0; i < filters.models[0].length; i++) { %>
                  <option value="<%= filters.models[0][i].model %>"><%= filters.models[0][i].model %></option>
                <% } %>
              </select>
            </div>
          
            <div class="filter-model filter js-filter-model volvo--filter">
              <select name="select__model" class="filter-model__select select js-select ">
                <option disabled selected value="0">Модель</option>
                <% for(var i=0; i < filters.models[2].length; i++) { %>
                  <option value="<%= filters.models[2][i].model %>"><%= filters.models[2][i].model %></option>
                <% } %>
              </select>
            </div>
          
            <div class="filter-model filter js-filter-model kamaz--filter">
              <select name="select__model" class="filter-model__select select js-select ">
                <option disabled selected value="0">Модель</option>
                <% for(var i=0; i < filters.models[4].length; i++) { %>
                  <option value="<%= filters.models[4][i].model %>"><%= filters.models[4][i].model %></option>
                <% } %>
              </select>
            </div>

            <div class="filter-model filter js-filter-model renault--filter">
              <select name="select__model" class="filter-model__select select js-select ">
                <option disabled selected value="0">Модель</option>
                <% for(var i=0; i < filters.models[6].length; i++) { %>
                  <option value="<%= filters.models[6][i].model %>"><%= filters.models[6][i].model %></option>
                <% } %>
              </select>
            </div>

            <div class="filter-model filter js-filter-model mercedes--filter">
              <select name="select__model" class="filter-model__select select js-select ">
                <option disabled selected value="0">Модель</option>
                <% for(var i=0; i < filters.models[7].length; i++) { %>
                  <option value="<%= filters.models[7][i].model %>"><%= filters.models[7][i].model %></option>
                <% } %>
              </select>
            </div>


            <div class="filter-country filter">
              <select name="select__country" class="filter-country__select select js-select">
                <option disabled selected value="0">Страна</option>
                <% for(var i=0; i < filters.countrys.length; i++) { %>
                  <option value="<%= filters.countrys[i] %>"><%= filters.countrys[i] %></option>
                <% } %>
              </select>
            </div>
          </form>

        </aside>

        <div class="catalog__item">
          <div class="catalog__sort">
            <p class="catalog__sort-title">Сортировать:</p>
              <a href="#!" class="catalog__sort-link js-sort-cheap" name="cheap">сначало дешевые</a>
              <a href="#!" class="catalog__sort-link js-sort-dear" name="dear">сначало дорогие</a>
          </div>

          <div class="catalog__body">
            <% for(var i=0; i < products.count; i++) { %>
              
              <div class="catalog__product" data-id="<%= products.code[i] %>" data-price="<%= products.price[i] %>">
                <%if (Name) { %>
                  <div class="catalog__product-rate js-add-favorite" data-id="<%= products.code[i] %>" title="В избранное"></div>
                <% }  %> 
                <div class="catalog__product-img">
                  <img src='<%= products.img[i] %>' alt="product">
                </div>
                <h3 class="catalog__product-name"><%= products.name[i] %></h3>
                <div class="catalog__product-middle">
                  <p class="catalog__product-for">
                    Для
                    <span><%= products.brand[i] %></span>
                    <span><%= products.model[i] %></span>
                  </p>
                  <div class="catalog__product-country"><%= products.country[i] %></div>
                </div>
                <div class="catalog__product-under">
                  <p class="catalog__product-price js-sort-price"><%= products.price[i] %></p>
                  <span> руб</span>
                    <%if (Name) { %>
                      <a href="#!" class="catalog__product-btn js-product-btn" data-id="<%= products.code[i] %>">Купить</a>
                      <a href="/basket" class="catalog__product-btn in-basket js-hidden-basket__btn" data-id="<%= products.code[i] %>">В корзину</a>
                      <% } else { %> 
                      <a href="#!" data-modal="login" class="catalog__product-btn" data-id="<%= products.code[i] %>">Купить</a>
                    <% } %>
                </div>
              </div>

            <% } %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('./partials/footer'); %>
  <%- include('./partials/scripts'); %>
</body>
</html>