<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>
<body>
  <%- include('./partials/header'); %>
  <%- include('./partials/menuWithout'); %>
  
  <section class="assortment">
    <div class="container">
      <div class="assortment__inner">
        <div class="title__block">
          <p class="title">Мы предлагаем большой ассортимент запчастей</p>
        </div>
        <div class="slider assortment-slider assortment-slider-js">
          <div class="assortment-slider__item">
            <div class="assortment-slider__img">
              <img src="img/assSlider/1.jpg" alt="picture">
            </div>
          </div>
          <div class="assortment-slider__item">
            <div class="assortment-slider__img">
              <img src="img/assSlider/2.jpg" alt="picture">
            </div>
          </div>
          <div class="assortment-slider__item">
            <div class="assortment-slider__img">
              <img src="img/assSlider/3.jpg" alt="picture">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="btn__area">
    <a href="#!" data-modal="contact" class="btn"><span>Связаться с продавцом</span></a>
  </div>

  <%- include('./partials/modal_contact'); %>

  <section class="companys" id="companys">
    <div class="container">
      <div class="companys__inner">
        <div class="title__block">
          <p class="title">Только у нас — лучшие цены на запчасти для разных видов спецтехники популярных марок</p>
        </div>
        <div class="companys__table">
          <div class="companys__item">
            <img src="img/companys/1.svg" class="companys__logo" alt="logo">
          </div>
          <div class="companys__item">
            <img src="img/companys/2.svg" class="companys__logo" alt="logo">
          </div>
          <div class="companys__item">
            <img src="img/companys/3.svg" class="companys__logo" alt="logo">
          </div>
          <div class="companys__item">
            <img src="img/companys/4.svg" class="companys__logo" alt="logo">
          </div>
          <div class="companys__item">
            <img src="img/companys/5.svg" class="companys__logo" alt="logo">
          </div>
          <div class="companys__item">
            <img src="img/companys/6.svg" class="companys__logo" alt="logo">
          </div>
          <div class="companys__item">
            <img src="img/companys/7.svg" class="companys__logo" alt="logo">
          </div>
          <div class="companys__item">
            <img src="img/companys/8.svg" class="companys__logo" alt="logo">
          </div>
          <div class="companys__item">
            <img src="img/companys/9.svg" class="companys__logo" alt="logo">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="advantages" id="advantages">
    <div class="container">
      <div class="advantages__inner">
        <div class="title__block">
          <p class="title">Наши преимущества</p>
        </div>
        <div class="advantages__list">
          <div class="advantages__item">
            <img src="img/advantages/1.svg" class="advantages__img" alt="Доставка">
            <span class="advantages__text">Прямая доставка оригинальных запчастей</span>
          </div>
          <div class="advantages__item">
            <img src="img/advantages/2.svg" class="advantages__img" alt="Качество">
            <span class="advantages__text">Надежность и качество запчастей</span>
          </div>
          <div class="advantages__item">
            <img src="img/advantages/3.svg" class="advantages__img" alt="Консультация">
            <span class="advantages__text">Консультация доступная каждому </span>
          </div>
          <div class="advantages__item">
            <img src="img/advantages/4.svg" class="advantages__img" alt="Цены">
            <span class="advantages__text">Лояльные цены</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%- include('./partials/feedback'); %>

  <%- include('./partials/scripts'); %>
</body>
</html>