<!DOCTYPE html>
<html lang="ru">
<head>
  <%- include('./partials/head'); %>
</head>
<body>
  <%- include('./partials/header'); %>

  <%if (Name.length > 0) { %>
    <%- include('./partials/menuWith'); %>
  <% } else { %> 
    <%- include('./partials/menuWithout'); %>
  <% } %>
  
  <%- include('./partials/assortment'); %>

  <%- include('./partials/companys'); %>
  
  <%- include('./partials/advantages'); %>

  <%- include('./partials/feedback'); %>

  <div class="title__block" id="map--nav">
    <p class="title">Где нас найти?</p>
  </div>
  <div id="map" class="map"></div>

  <div id="button-up">
    <i class="fa fa-chevron-up"></i>	
  </div>
  
  <%- include('./partials/footer'); %>

  <%- include('./partials/scripts'); %>
  
  <%- include('./partials/mapAPI'); %>
</body>
</html>